

/* หน้า CV */ 
main{
  display:grid;
  margin-top: 50px;
 
}

article{
    display: grid;
   
}
section{
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: solid #f3a734;
    box-shadow: 4px 4px 4px #0e559c98;
    
    padding: 5px;
}
h3{   /* ชื่อหัวข้อใน CV */ 
    color: #348f2c;
}

@media screen and (max-width: 450px) {  /* เรียงเป็น columns ลงมาเเถวเดียว  */ 

    main{                                
        grid-template-columns: 1fr ;
        margin-left: 2.5em;
      }
      article{
          grid-template-columns: 1fr  ;
      }
}
    @media screen and (min-width: 451px) and (max-width: 850px){/* ทำให้มีสอง columns เมือขนาด 451 px ถึง 850 px */ 
        main{
            grid-template-columns: 1fr 1fr;
            margin-left: 1.5em;
            grid-gap: 10px 
          }
          
          article{
              grid-template-columns: 1fr   ;
          }
}
@media screen and (min-width: 850px) {/* 850 px ขึ้นไป ปรับขนาดให้เหมาะสม ใน columns ที่สองเรียงเป็นสอง columns */ 
main{
    grid-template-columns: 0.3fr 1fr ;
    margin-left: 5.5em;
  }
article{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 250px  ;
    grid-gap:10px;
}
}


