


main{
  display:grid;
  grid-template-columns: 0.3fr 1fr ;
  margin-left: 5.5em;
}

article{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 250px  ;
    grid-gap:10px;
}
section{
    font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: solid #f3a734;
    box-shadow: 4px 4px 4px #0e559c98;
    
    padding: 5px;
}
h3{
    color: #348f2c;
}


#id01 section:nth-child(1)
{   margin: 5px;
    padding: 2px;
    width: 250px;
    height:350px;
    
}
#id01 section:nth-child(2)
{
    width: 400px;
    height:450px;
    text-align: center;
    line-height: 1;
}


@media screen and (max-width: 450px) {

    main{
       
        grid-template-columns: 1fr ;
        margin-left: 2.5em;
        
      }
      
      article{
          
          grid-template-columns: 1fr  ;
          
      }

}


    @media screen and (min-width: 451px) and (max-width: 850px){
  

        main{
       
            grid-template-columns: 1fr 1fr;
            margin-left: 1.5em;
            grid-gap: 10px
            
          }
          
          article{
              
              grid-template-columns: 1fr   ;
              
          }
        
}
@media screen and (max-width: 850px) {
  
}

